<div class="row justify-content-center">
    <div class="mb-3 col-12">
        <label for="new-post-title" class="form-label">Enter your post's title here</label>
        <input type="text" class="form-control" id="new-post-title" placeholder="Post.Title">
    </div>
    <div class="mb-3 col-12">
        <label for="new-post-content" class="form-label">Type your post here</label>
        <textarea class="form-control" id="new-post-content" rows="3" placeholder="Post.Content"></textarea>
    </div>

    <button type="button" class="btn btn-outline-dark col-3" id="submit-post">Submit post</button>
</div>