<div class="row justify-content-center">
    <div class="mb-3 col-12">
        <label for="exampleFormControlInput1" class="form-label">Enter your post's title here</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Post.Title">
    </div>
    <div class="mb-3 col-12">
        <label for="exampleFormControlTextarea1" class="form-label">Type your post here</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Post.Content"></textarea>
    </div>

    <button type="button" class="btn btn-outline-dark col-3 align-self-center">Submit post</button>
</div>